<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^resources/ - [L]
    RewriteRule ^public/ - [L]

    RewriteCond %{DOCUMENT_ROOT}/Questwise/public/$1 -f
    RewriteRule (.+) public/$1 [L]

    RewriteRule (.*) public/index.php?route=$1 [L,QSA]
</IfModule>