body {
    font-family: 'Jua', serif;
}

body {
    background-color: var(--primary-color);
}

body,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-toggler-icon {
    color: white;
}

a {
    color: #17a2b8;
}

a:hover {
    color: #138496;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:hover {
    background-color: #138496;
    border-color: #138496;
}

.form-control {
    background-color: #333333;
    color: white;
}

.alert {
    background-color: #444444;
    border-color: #333333;
    color: white;
}

.badge-primary {
    background-color: #e8e8e8;
}

.card {
    background-color: #333333;
    color: white;
}

.table {
    color: white;
}

.pagination .page-link {
    background-color: #444444;
    border-color: #333333;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #138496;
}

.navbar {
    background-color: transparent;
    border-color: var(--primary-color);
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-toggler {
    border-color: white;
}

.navbar-brand {
    color: white;
}


body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-color);
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
    border-top: 1px solid #D0D1D2;
}

:root {
    --primary-color: #212f45;
    --secondary-color: #e8e8e8;
    --tertiary-color: #5B9A8B;
    --quaternary-color: #F7E987;
}

.navbar-light .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 6px;
}

.navbar .profile-image {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown-menu {
    background: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}