body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Kanit', serif;
}

footer {
    min-height: 50px;
}


.points-display {
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    margin-top: 5px;
}

.points-icon img {
    display: block;
    width: 20px;
    height: 20px;
}

.points-value {
    color: #ffc107;
    font-size: 14px;
    margin-left: 5px;
}


#homeDashboard .spinner-border {
    width: 2rem;
    height: 2rem;
    border-width: 0.2em;
}

#homeDashboard .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#homeDashboard .task-item {
    cursor: pointer;
}


#tasks .task-card .card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

#tasks .task-card .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#tasks .task-card .card:hover .card-body {
    background-color: #494949;
}

#tasks .task-card .card-body {
    transition: background-color 0.3s;
}


#achievements .achievement-card {
    background-color: #414141;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#achievements .achievement-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


#users .card {
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

#users .card:hover {
    background-color: #23272e;
    transform: scale(1.1);
}