body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-color);
    font-family: 'Jua', serif;
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
    border-top: 1px solid #D0D1D2;
}

:root {
    --primary-color: #212f45;
    --secondary-color: #e8e8e8;
    --tertiary-color: #bfbfbf;
    --quaternary-color: #96939b;
}

.navbar {
    background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 6px;
}

.navbar .profile-image {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown-menu {
    background: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}